<div class="container container__column">
    <h2 class="headline">
        <span>
            Lorem ipsum amet
        </span>
    </h2>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro
        pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam, accusamus nulla animi esse
        est harum facere iusto quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto
        magnam modi perferendis porro pariatur non.
    </p>
</div>

<video-directive></video-directive>

<div class="cars">
    <div class="container container__column container__mini">
        <h2>
            We provide best cars for you.
        </h2>
        <div class="container__holder">
            <span class="container__holder--line"></span>
            <div class="container__holder--text">
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro
                    pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam, accusamus nulla
                    animi esse est harum facere iusto quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
                    neque obcaecati architecto magnam modi perferendis porro pariatur non.
                </p>
            </div>
        </div>
    </div>
    <div class="container container__center">
        <div class="row row__slider">
            <div class="col">
                <div class="img img__round" style="background-image: url('https://icdn-1.motor1.com/images/mgl/AqEQy/s1/rimac-concept-one.jpg')"></div>
            </div>
            <div class="col">
                <div class="container__holder">
                    <div class="container__holder--text">
                        <h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro
                            pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam, accusamus
                            nulla animi esse est harum facere iusto quam. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Laborum neque obcaecati architecto magnam modi perferendis porro pariatur non.
                        </p>
                        <button class="btn btn__primary btn__left" ui-sref="master.cars">
                            Check all cars
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<calendar-picker></calendar-picker>
