<footer class="footer">
    <div class="container">
        <div class="container__holder">
            <div class="row">
                <div class="col">
                    <span class="container__holder--line"></span>
                    <div class="container__holder--text">
                        <h3>
                            Avenija Veċeslava Holjevca 40
                            <br/> 10010 Zagreb
                            <br/> Croatia
                        </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="container__holder--text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <a href="#" class="link">
                            Send a message
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="container__holder--text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <a href="#" class="link">
                            +385 1 6111 802
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>