<div class="slider" id="slider">
    <div class="slider__wrapper" ng-style="vm.sliderStyle">
        <div ng-repeat="slides in images track by $index" class="slider__slides" ng-class="$index === vm.active ? 'slider__slides--active' : ''"
            ng-style="{'background-image':'url({{slides}})'}">
        </div>
    </div>
    <div class="button">
        <div class="button__block">
            <button class="btn btn--prev" ng-click="vm.goToSlide(vm.active - 1)" ng-model="vm.buttonPrevius">
                <span class="ion-ios-arrow-left"></span>
            </button>
        </div>
        <div class="button__block">
            <button class="btn btn-next" ng-click="vm.goToSlide(vm.active + 1)" ng-model="vm.buttonNext">
                <span class="ion-ios-arrow-right"></span>
            </button>
        </div>
    </div>  
</div>
