
// .calendar {
//     position: fixed;
//     top: 0;
//     height: 100%;
//     z-index: 3;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     @include element('row') {
//         width: calc(100% /7);
//         float: left;
//         overflow: hidden;
//         text-align: center;
//         background-color: #FFFFFF;
//         color: #787878;
//         font-family: $fontSecondary;
//         height: 50px;
//         width: 50px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         @include modifier('disabled') {
//             visibility: hidden;
//         }
//     }
//     @include element('content') {
//         border: 2px solid #f5f5f5;
//         border-radius: 3px;
//         background: #f5f5f5;
//     }
//     @include element('header') {
//         @include modifier('days') {
//             font-weight: 600;
//         }
//         @include modifier('title') {
//             display: flex;
//             align-items: center;
//             justify-content: space-evenly;
//             background: #f5f5f5f5;
//             padding: 20px 0;
//             h3 {
//                 font-family: $fontSecondary;
//             }
//             span {
//                 font-size: 24px;
//                 cursor: pointer;
//             }
//         }
//     }
//     @include element('body') {
//         .calendar__row {
//             cursor: pointer;
//         }
//     }
// }
._md-datepicker-has-triangle-icon {
    padding-right: 18px;
    margin-right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.md-icon-button+.md-datepicker-input-container {
    margin: 0;
    border: 0;
    flex: 1;
    background: none;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
    height: 50px;
    width: 50px;
    position: absolute;
    padding: 8px;
    top: 0;
    padding: 0;
    right: 18px;
    top: 11px;
}

.md-datepicker-input-mask {
    display: none;
}