.hero {
    background: url('img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media(max-width: $tablet) {
        min-height: 100vh;
        height: auto;
    }
    @include element('small') {
        height: 70vh;
        @media(max-width: $tablet) {
            min-height: 70vh;
        }
    }
    @include element('overlay') {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    @include element('image') {
        padding: 150px 50px;
        max-width: $container;
        background: url('img/banner.jpg');
        background-position: center;
        margin: 0 auto;
        display: block;
        box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        @media(max-width: $container) {
            padding: 50px 15px;
            width: calc(100% - 30px)
        }
        @media(max-width: $tablet) {
            margin: 150px 0 75px 0;
        }
    }
    @include element('title') {
        font-size: 90px;
        color: #fff;
        margin: 0;
        @media(max-width: $container) {
            font-size: 60px;
        }
    }
    @include element('desc') {
        color: #fff;
        margin: 0;
        font-family: $fontSecondary;
        font-size: 20px;
        line-height: 32px;
        max-width: 75%;
        @media(max-width: $container) {
            width: 100%;
        }
    }
}

