.search {
    width: 100%;
    box-shadow: 0 3px 60px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -100px;
    @include element('header') {
        background: #27292f;
        fill: #27292f;
        padding: 75px 15px;
        @media(max-width: $tablet){
            padding: 45px 15px;
        }
        @include modifier('title') {
            color: #fff;
            font-size: 50px;
            margin: 0;
            @media(max-width: $tablet){
                font-size: 30px;
            }
        }
    }
    @include element('body') {
        background: #f5f5f5;
        padding: 40px 15px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        h4 {
            margin: 0;
            font-family: $fontSecondary;
            font-weight: 700;
        }
        input {
            font-family: $fontSecondary;
            width: 100%;
            height: 50px;
            outline: none;
            border: 3px solid #ececec;
            padding: 0 15px;
            box-sizing: border-box;
            margin: 10px 0;
            max-width: 100%;
        }
    }
    .row{
        margin: 0 -15px;
        .col{
            padding: 0 15px;
        }
    }
}