.video {
    @include element('image') {
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        display: flex;
        @media(max-width: $tablet) {
            margin: 40px 0;
            height: 350px;
        }
        @include modifier('play') {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 50%;
            border: 5px solid #fff;
            span {
                color: #fff;
                font-size: 48px;
            }
        }
    }
}