body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.headline {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 48px;
  color: #111311;
  letter-spacing: 2px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 45px; }
  .headline span:after {
    content: '';
    display: block;
    width: 1px;
    height: 80px;
    background-color: #E3E3E3;
    margin: 20px auto 0; }

.text-center {
  text-align: center;
  line-height: 33px;
  margin-top: 20px;
  color: #333;
  font-family: "Raleway", sans-serif; }

.btn {
  border: 0;
  padding: 20px 30px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn__primary {
    margin-top: 30px;
    background: #111;
    display: block;
    margin: 0 auto;
    color: #fff; }
  .btn__secondary {
    color: #222222;
    background-color: #ebebeb; }
  .btn__left {
    float: left; }
  .btn:hover {
    color: #fff;
    background-color: #f333; }

.img__responsive {
  max-width: 100%;
  height: auto; }

.link {
  font-family: "Raleway", sans-serif;
  color: #eee;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-top: 15px;
  display: inline-block; }

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  @media (max-width: 1250px) {
    .container {
      padding: 0 15px !important; } }
  .container__between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .container__center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .container__mini {
    max-width: 800px; }
    .container__mini h2 {
      color: #333;
      font-family: "Raleway", sans-serif;
      font-size: 48px; }
  .container__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 110px 0 70px 0; }
  .container__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px; }
    .container__holder--line {
      height: 2px;
      width: 125px;
      background: #f333;
      display: block; }
    .container__holder--text {
      top: -15px;
      position: relative;
      padding-left: 40px; }
      .container__holder--text h3 {
        margin-top: 0;
        line-height: 33px;
        color: #333;
        font-family: "Raleway", sans-serif; }
      .container__holder--text p {
        line-height: 33px;
        margin-top: 20px;
        color: #333;
        font-family: "Raleway", sans-serif; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .row .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .row__slider slider {
    width: 100%; }
  .row__slider .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  @media (max-width: 767px) {
    .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .row__margin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 150px -15px 0; }
    .row__margin .car {
      max-width: calc(33.33% - 30px); }
      @media (max-width: 1200px) {
        .row__margin .car {
          max-width: calc(50% - 30px); } }
      @media (max-width: 767px) {
        .row__margin .car {
          max-width: calc(100% - 30px); } }

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background: #000;
  -webkit-box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.3);
  padding: 15px 0; }
  .header__logo {
    color: #fff;
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: bold; }
  .header__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__list--item {
      margin: 0 10px;
      font-family: "Raleway", sans-serif;
      font-size: 19px;
      color: #fff;
      font-weight: 500; }

.hero {
  background: url(https://livedemo00.template-help.com/wt_58645/images/background-01-2050x1200.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }
  @media (max-width: 767px) {
    .hero {
      min-height: 100vh;
      height: auto; } }
  .hero__small {
    height: 70vh; }
    @media (max-width: 767px) {
      .hero__small {
        min-height: 70vh; } }
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1; }
  .hero__image {
    padding: 150px 50px;
    max-width: 1200px;
    background: url(https://gearheads.org/wp-content/uploads/2017/11/muscle-car-burnout.jpg);
    background-position: center;
    margin: 0 auto;
    display: block;
    -webkit-box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 2; }
    @media (max-width: 1200px) {
      .hero__image {
        padding: 50px 15px;
        width: calc(100% - 30px); } }
    @media (max-width: 767px) {
      .hero__image {
        margin: 150px 0 75px 0; } }
  .hero__title {
    font-size: 90px;
    color: #fff;
    margin: 0; }
    @media (max-width: 1200px) {
      .hero__title {
        font-size: 60px; } }
  .hero__desc {
    color: #fff;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 32px;
    max-width: 75%; }
    @media (max-width: 1200px) {
      .hero__desc {
        width: 100%; } }

.modal {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .modal__body {
    padding: 8px;
    background: #fff;
    border-radius: 5px; }

._md-datepicker-has-triangle-icon {
  padding-right: 18px;
  margin-right: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.md-icon-button + .md-datepicker-input-container {
  margin: 0;
  border: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: none; }

.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 8px;
  top: 0;
  padding: 0;
  right: 18px;
  top: 11px; }

.md-datepicker-input-mask {
  display: none; }

footer {
  background: url(https://livedemo00.template-help.com/wt_58645/images/background-01-2050x1200.jpg);
  background-position: center;
  background-size: cover;
  padding: 70px 0; }
  footer .container__holder--line {
    width: 25px;
    background: #ccc; }
  footer .container__holder--text h3,
  footer .container__holder--text p {
    margin: 0;
    font-weight: 400;
    color: #fff; }
  @media (max-width: 767px) {
    footer {
      padding: 70px 0 30px 0; }
      footer .col {
        margin-bottom: 40px; } }

.video__image {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  -webkit-box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .video__image {
      margin: 40px 0;
      height: 350px; } }
  .video__image--play {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #fff; }
    .video__image--play span {
      color: #fff;
      font-size: 48px; }

.search {
  width: 100%;
  -webkit-box-shadow: 0 3px 60px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 60px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -100px; }
  .search__header {
    background: #27292f;
    fill: #27292f;
    padding: 75px 15px; }
    .search__header--title {
      color: #fff;
      font-size: 50px;
      margin: 0; }
  .search__body {
    background: #f5f5f5;
    padding: 40px 15px;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .search__body h4 {
      margin: 0; }
    .search__body input {
      font-family: "Raleway", sans-serif;
      width: 100%;
      height: 50px;
      outline: none;
      border: 3px solid #ececec;
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 10px 0;
      max-width: 100%; }

.slider {
  height: 600px;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  border-radius: 4px;
  -webkit-box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 85px 10px rgba(0, 0, 0, 0.3); }
  .slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box; }
  .slider__content {
    max-width: 80%;
    margin: 0 auto; }
    .slider__content--title {
      margin: 0 0 20px;
      font-size: 50px; }
    .slider__content--desc {
      line-height: 25px;
      font-size: 18px; }
  .slider__slides {
    height: 100%;
    background-size: cover;
    width: 100%; }
    .slider__slides h2,
    .slider__slides p {
      -webkit-transition: 0.4s;
      transition: 0.4s;
      opacity: 0; }
    .slider__slides h2 {
      -webkit-transform: translateY(-25px);
      transform: translateY(-25px); }
    .slider__slides p {
      -webkit-transform: translateY(25px);
      transform: translateY(25px); }
    .slider__slides--active h2,
    .slider__slides--active p {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
  .slider__overlay {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3); }
  .slider .button {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%; }
    .slider .button__block .btn {
      border: 0;
      outline: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-width: 50px;
      text-align: center;
      border-radius: 0;
      background-color: #000;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .slider .button__block .btn span {
        font-size: 30px;
        color: #fff;
        padding: 10px;
        width: 100%;
        line-height: 30px; }
      .slider .button__block .btn.btn-next {
        float: right; }
      .slider .button__block .btn:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.6); }

.car {
  padding: 0 15px; }
  .car img {
    max-width: 100%;
    height: auto; }
  .car__text {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 20px 25px 25px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .car__text h4,
    .car__text h3 {
      margin: 7.5px 0;
      font-family: "Raleway", sans-serif;
      font-weight: 400; }
    .car__text:hover {
      background: #1b1a1a; }
      .car__text:hover h3,
      .car__text:hover h4 {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        color: #fff; }
