<div class="hero hero__small" style="background-image: url({{vm.carDetails.thumbnail}})"> </div>

<div class="container">
    <div class="search">
        <div class="search__header">
            <h3 class="search__header--title">
                Rent this car
            </h3>
        </div>
        <div class="search__body">
            <div class="col">
                <h4>
                    Pick up date
                </h4>
                <md-datepicker ng-model="vm.car.pickup" md-placeholder="Enter date" md-min-date="vm.minDate" ng-change="vm.updateMaxDate()"></md-datepicker>
            </div>
            <div class="col">
                <h4>
                    Drop off date
                </h4>
                <md-datepicker ng-model="vm.car.return" md-placeholder="Enter date" md-min-date="vm.minDate" ng-change="vm.updateMaxDate()"></md-datepicker>
                <button class="btn btn__primary" ui-sref="master.checkout({checkout: vm.car})">
                    Rent this car
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container container__center">
    <div class="row row__slider">
        <div class="col">
            <slider images="vm.carDetails.photos"></slider>
        </div>
        <div class="col">
            <div class="container__holder">
                <div class="container__holder--text">
                    <h3>
                        {{vm.carDetails.name}}
                    </h3>
                    <p>
                        {{vm.carDetails.desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <contact></contact> -->