<div class="container">
    <div class="row row__margin">
        <div class="loader__holder" ng-if="!vm.dataLoaded">
            <div class="loader"></div>
        </div>
        <div ng-repeat="car in vm.cars track by $index" class="car" ng-if="vm.dataLoaded">
            <img ng-src="{{car.thumbnail}}" />
            <div class="car__text" ui-sref="master.car({carId: car.id, carDetails: car})">
                <h3>
                    {{car.name}}
                </h3>
                <h4>
                    Price: ${{car.price}}
                </h4>
            </div>
        </div>
    </div>
</div>