<nav class="header">
    <div class="container container__between">
        <a class="header__logo" ui-sref="master.home"  ng-click="vm.closeMenu()">
            RentacaR
        </a>

        <div class="header__menu">
            <ul class="header__list">
                <li class="header__list--item" ng-repeat="navItem in vm.navigationItems" ng-click="vm.closeMenu()">
                    <a ui-sref="master.home({ '#': navItem.id })" class="header__list--item">
                        {{navItem.title}}
                    </a>
                </li>
            </ul>

            <button class="btn btn__secondary"  ng-click="vm.closeMenu()" ui-sref="master.cars">
                Cars
            </button>
        </div>

        <div class="header__mobile">
            <div class="header__mobile--menu" ng-click="vm.toggleMenu()">
                <div class="bar" ng-class="vm.menuOpen ? 'animate' : ''"></div>
            </div>
        </div>
    </div>

    <div class="header__menu header__menu--show" ng-if="vm.menuOpen">
        <ul class="header__list">
            <li class="header__list--item" ng-repeat="navItem in vm.navigationItems" ng-click="vm.closeMenu()">
                <a ui-sref="master.home({ '#': navItem.id })" class="header__list--item">
                    {{navItem.title}}
                </a>
            </li>
        </ul>

        <button class="btn btn__secondary" ng-click="vm.closeMenu()" ui-sref="master.cars">
            Cars
        </button>
    </div>
</nav>