<!-- <div ng-if="show">
    <div class="calendar">
        <div class="calendar__content">

            <div class="calendar__header">
                <div class="calendar__header--title">
                    <span ng-click="vm.previusMonth()" class="ion-ios-arrow-left"></span>
                    <h3>
                        {{vm.activeMonth.month}}, {{vm.activeMonth.year}}
                    </h3>
                    <span ng-click="vm.nextMonth()" class="ion-ios-arrow-right"></span>
                </div>

                <div ng-repeat="day in vm.titles.days" class="calendar__row">
                    <span class="calendar__header--days">
                        {{day}}
                    </span>
                </div>
            </div>

            <div class="calendar__body">
                <div ng-repeat="day in vm.days track by $index" ng-if="vm.activeSlide === $index">
                    <div ng-repeat="days in day">
                        <span ng-click="vm.selectDate(days.day)" class="calendar__row" ng-class="{'calendar__row--current': days.currentDate, 'calendar__row--selected': days.selected, 'calendar__row--disabled':  !days.sameMonth}">
                            {{days.day | date: 'dd'}} 
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> -->
