@import "./variables";
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.w-100{
    width: 100%;
}
.btn-primary{
    background-color: #fff;
    color: $secondaryColor;
    border: 1px solid $secondaryColor;
}
.btn{
    background-color: $secondaryColor;
    color: #fff;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-normal{
    font-weight: normal;
}
.font-weight-600{
    font-weight: 600;
}
.primary-color{
    color: $primaryColor;
}
.secondary-color{
    color: $secondaryColor;
}
.color-white{
    color: $colorWhite;
}
.color-black{
    color: $colorBlack;
}
.border-radius-5{
    border-radius: 5px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-28{
    font-size: 28px;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.mr-10{
    margin-right: 10px;
}
.mt-10{
    margin-top: 10px;
}
a{
    color: #fff;
    &:hover{
        color: none;
    }
}
.text-center{
    text-align: center;
}
.button{
    &:hover{
        background-color: inherit;
    }
}